<h1>Listous for <a href="http://www.twitter.com/<%=h @user %>">@<%=h @user %></a></h1>
<% @lists.each do |list| %>
<h2><%=h list.name %></h2>
<ul>
    <% list.items.each do |item| %>
    <li>
        <b><%=h item.text %></b> <i><%=h item.author %> <%=h item.submitted %>

    </li>
    <% end %>
</ul>
<% end %>

