<p>
  <b>Id:</b>
  <%=h @item.id %>
</p>

<p>
  <b>Author:</b>
  <%=h @item.author %>
</p>

<p>
  <b>Text:</b>
  <%=h @item.text %>
</p>



<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>